@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    box-shadow: 
      -1.5px -1.5px white,
      1.5px -1.5px white,
      1.5px 3px white,
      -1.5px 3px white,
      1.5px 0 rgba(0,0,0,.35),

      inset 1.5px 0 rgba(0,0,0,.15),
      inset 0 1.5px rgba(0,0,0,.15),
      inset -1.5px 0 rgba(0,0,0,.15),
      inset 0 -1.5px rgba(0,0,0,.15),

      inset 0 8px 2px rgba(255,255,255,.2),
      inset 0 -5px 2px rgba(0,0,0,.15)
    ;
    text-shadow: 
      0 1px rgba(0,0,0,.6),
      0 -1px rgba(0,0,0,.6),
      1px 0 rgba(0,0,0,.6),
      -1px 0 rgba(0,0,0,.6),
      1px 1px rgba(0,0,0,.6),
      -1px -1px rgba(0,0,0,.6),
      -1px 1px rgba(0,0,0,.6),
      1px -1px rgba(0,0,0,.6)
    ;
    letter-spacing: 0.5px;
  }
  .btn:active {
    box-shadow: 
      -1.5px -3px white,
      1.5px -3px white,
      1.5px 1.5px white,
      -1.5px 1.5px white,
      1.5px 0 rgba(0,0,0,.35),

      inset 1.5px 0 rgba(0,0,0,.15),
      inset 0 1.5px rgba(0,0,0,.15),
      inset -1.5px 0 rgba(0,0,0,.15),
      inset 0 -1.5px rgba(0,0,0,.15),

      inset 0 -5px 2px rgba(255,255,255,.2),
      inset 0 8px 2px rgba(0,0,0,.1)
    ;
    transform: translateY(1px);
  }
}

#root, body, html {
  height: 100%;
}